<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.accord.core" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="portable.accord.imaging" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="portable.accord.machinelearning" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="portable.accord.math" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="portable.accord.statistics" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="portable.accord.vision" version="3.0.2.60302" targetFramework="xamarinios10" />
  <package id="shim" version="2.0.0" targetFramework="xamarinios10" />
  <package id="shim.drawing" version="3.0.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
</packages>